<div class="series-slider" *ngIf="series.length > 0">
  <div class="series-container">
    <div 
      class="serie-card" 
      *ngFor="let serie of series"
      [title]="serie.title">
      <div class="serie-image-container">
        <img 
          [src]="getSerieImageUrl(serie)" 
          [alt]="serie.title"
          class="serie-image"
          loading="lazy">
        <div class="serie-overlay">
          <div class="serie-info">
            <h4 class="serie-title">{{ serie.title }}</h4>
            <p class="serie-year">{{ getYearRange(serie) }}</p>
            <p class="serie-comics">{{ serie.comics.available }} comics</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
